<div id="index">


    <i class="fa fa-ticket fa-5x"></i>
    <br>
    <p>SimpleTicket ist ein TicketSystem mit dem man sich selber, oder auch für andere, ganz einfach Tickets als Notiz/Aufgabe schreiben kann.</p>
    Keine Benutzer, keine Komplexen Einstellungen, ganz Simpel!


</div>