<div id="neuesticket">

<br>
<center> <h2> <i class="fa fa-ticket fa-lg" /> Neues Ticket </h2> </center>
    
<div class="col-sm-6 ">
<div class="form-group" id ="neuesticket-input">
  <label for="usr">Thema:</label>
    {{input type="text" class="form-control" value=thema}}
</div>    
</div>
    
    
<div class="col-sm-6 ">
<div class="form-group" id ="neuesticket-input">
  <label for="usr">Autor:</label>
    {{input type="text" class="form-control" value=autor}}
</div> 
</div>
    
    
<div class="col-sm-12">
<div class="form-group" id ="neuesticket-textinput">
  <label for="usr">Beschreibung:</label>
    {{textarea type="text" class="form-control" value=beschreibung}}
</div> 
</div>
    
<div id="neuesticket-button">
    <button type="button" class="btn btn-success" {{action 'createTicket'}}> Speichern </button>    
</div>
    
    
</div>